body{
    background-color: #f7f3f3af;
} 
.nav1{
    background-color: aquamarine;
}
width :100; 
height :25px:
background-color: orangered;
} 
.nav2{
    width: 100;
    height: 70px;
    background-color: blue;

}